name: CI
on:
  - pull_request
  - push
  - workflow_dispatch


env:
  JDK_VERSION: "19"


jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@v1

      - uses: actions/setup-java@v3
        with:
          distribution: "temurin"
          java-version: ${{ env.JDK_VERSION }}

      - name: "Install CC:Restitched"
        uses: gradle/gradle-build-action@v2
        with:
          arguments: jar publishToMavenLocal --info -S --show-version
          build-root-directory: deps/cc-restitched
          gradle-home-cache-cleanup: true

      - name: Gradle Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: build --info -S --show-version
          gradle-home-cache-cleanup: true